.all{
    background-color: lightgray;
    height: 600px;
}
input{
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s;
    width: 40%;
    border: 2px solid lightslategray;
    border-radius: 8px;
}

