.imgSlider{
    border: 2px solid black;
    height: 730px;

}
.img{
    height: 730px !important;
}
.productName{
    font-size: 70px;
}
.productDesc{
    font-size: 20px;
}


.addBtn{
    width: 100%;
    background-color: black;
    color: white;
    height: 60px;
}
.addBtn:hover{
    background-color: green;



}